
<!DOCTYPE html>
<html lang="en">


<!-- auth-register.html  21 Nov 2019 04:05:01 GMT -->
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Otika - Admin Dashboard Template</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="<%= process.env.ADMIN_STYLE_URL%>assets/css/app.min.css">
  <link rel="stylesheet" href="<%= process.env.ADMIN_STYLE_URL%>assets/bundles/jquery-selectric/selectric.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="<%= process.env.ADMIN_STYLE_URL%>assets/css/style.css">
  <link rel="stylesheet" href="<%= process.env.ADMIN_STYLE_URL%>assets/css/components.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="<%= process.env.ADMIN_STYLE_URL%>assets/css/custom.css">
  <link rel='shortcut icon' type='image/x-icon' href='<%= process.env.ADMIN_STYLE_URL%>assets/img/favicon.ico' />
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
            <div class="card card-primary">
              <div class="card-header">
                <h4>Upload Product</h4>
              </div>
              <div class="card-body">
                <form action="/admin/create/product" method="post" enctype="multipart/form-data">
                  <div class="row">
                    <div class="form-group col-6">
                      <label for="frist_name">Product Name</label>
                      <input id="frist_name" type="text" class="form-control" name="name" autofocus>
                    </div>
                    <div class="form-group col-6">
                      <label for="last_name">Price</label>
                      <input id="last_name" type="number" class="form-control" name="price">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email">Description</label>
                    <textarea id="email" type="text" class="form-control" name="description"></textarea>
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email">Images</label>
                    <input id="email" type="file" class="form-control" name="images">
                    <div class="invalid-feedback">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-6">
                      <label for="password" class="d-block">Sizes</label>
                      <input id="password" type="text" class="form-control pwstrength" data-indicator="pwindicator"
                        name="sizes">
                    </div>
                    <div class="form-group col-6">
                      <label for="password2" class="d-block">Colors</label>
                      <input id="password2" type="text" class="form-control" name="colors">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="agree" class="custom-control-input" id="agree">
                      <label class="custom-control-label" for="agree">I agree with the terms and conditions</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                      Upload
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- General JS Scripts -->
  <script src="<%= process.env.ADMIN_STYLE_URL%>assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="<%= process.env.ADMIN_STYLE_URL%>assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js"></script>
  <script src="<%= process.env.ADMIN_STYLE_URL%>assets/bundles/jquery-selectric/jquery.selectric.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="<%= process.env.ADMIN_STYLE_URL%>assets/js/page/auth-register.js"></script>
  <!-- Template JS File -->
  <script src="<%= process.env.ADMIN_STYLE_URL%>assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="<%= process.env.ADMIN_STYLE_URL%>assets/js/custom.js"></script>
</body>


<!-- auth-register.html  21 Nov 2019 04:05:02 GMT -->
</html>